/* laptop */
@media screen and (min-width:1040px) {
  .flex-center-content{
    display:inline;
  }
  #info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
  }
  #info-img img{
    width: 18vw;
    height: 45vh;
    opacity: .9799;
    filter: drop-shadow(5px -3px 20px rgba(142, 28, 229, 0.463));
  }
  .mat-card{
    margin: .5rem auto;
    width: 80vw; 
    padding: 2rem;
  }
 
}


/* movil */
@media screen and (max-width:768px){
    .header {
        
        background-size:100vw;
    }
    body{
        justify-content: center;
        align-items: center;
    }
    .flex-center-content{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .mat-card{
      padding: 3rem;
      animation-duration: 1s;
      transition: all 2s;
    }
}
